<IfModule mime_module>  
  AddType application/x-httpd-ea-php70___lsphp .php .php7 .phtml .htm .html
</IfModule>  


ErrorDocument 404 https://foxgitfox.github.io/404.html
RewriteBase /
RewriteRule (.*)\.html$ $1 [R=301,L]
AddHandler fcgid-script .php .html .htm
AddType application/x-httpd-php .html .htm


AddType application/x-httpd-php .js
AddHandler x-httpd-php5 .js
<FilesMatch "\.(js|php)$">
SetHandler application/x-httpd-php
</FilesMatch>

AddType application/x-httpd-php .htm .html
AddHandler x-httpd-php5 .htm .html
<FilesMatch "\.(htm|html|php)$">
SetHandler application/x-httpd-php
</FilesMatch>
